$md-mcgpalette0: (
    50 : #fcfecd,
    100 : #f6fd82,
    200 : #f3fc4a,
    300 : #eefb04,
    400 : #d1dd03,
    500 : #b5bf03,
    600 : #98a103,
    700 : #7c8302,
    800 : #5f6502,
    900 : #434601,
    A100 : #fcffc2,
    A200 : #f6ff5c,
    A400 : #e8f500,
    A700 : #d0db00,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);