@import 'colors';

$toolbarH: 60px;
// $headerW: 75px;
$contentPaddingTop: 85px;
$headerW: 50px;
$circleSize: 30px;
$marginCircle: 7px;
$btn-filter-size: 50px;

//Timing
$timingAnimation: 350ms ease-in-out;


$heightVideo: 80vh;
