$white: #fff;
$black: #000;
$green_dark:#0e3c19;
$gray_light:  #bbb;
$gray_icon:#bbb;
$yellow_icon: #FFDA44;
$blue_light: #8acaf1;
$red_light:#f1998a;
$brand-colors: (
  'white':$white,
  'black':$black,
  'green_dark':$green_dark
);
