@for $i from 5 through 100 {
  $number :round(percentage($i/100 ));
  .width-#{$i} {
    display: inline-block;
    width : calc(#{$number});
  }
  .height-#{$i} {
    height : #{$number};
  }
}

.height-auto{
  height: auto;
}

.width-auto{
  width: auto;
}
